adaptive-classifier==0.0.10
aiobotocore==2.21.1
aiofiles==0.6.0
aiohappyeyeballs==2.4.8
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.8.0
appdirs==1.4.4
appnope==0.1.4
argcomplete==3.5.3
asgiref==3.8.1
asttokens==3.0.0
async-timeout==3.0.1
attr==0.3.1
attrs==25.1.0
av==14.2.0
azure-core==1.32.0
azure-storage-blob==12.24.1
beautifulsoup4==4.13.3
black==25.1.0
bleach==5.0.1
blingfire==0.1.8
blis==1.2.0
boto==2.49.0
boto3==1.37.1
botocore==1.37.1
Brotli @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d7pp3g74_g/croot/brotli-split_1736182638718/work
cached_path==1.6.7
cachetools==5.5.2
catalogue==2.0.10
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d0mlk2yciq/croot/certifi_1738623741969/work/certifi
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.20.0
cmake==3.31.4
cmd2==1.5.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
commonmark==0.9.1
confection==0.1.5
contourpy==1.3.1
cryptography==44.0.1
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
datamodel-code-generator==0.26.1
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.9
distro==1.9.0
Django==5.1.6
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dnspython==2.7.0
docling==2.24.0
docling-core==2.20.0
docling-ibm-models==3.4.0
docling-parse==3.4.0
dolma==1.1.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
easyocr==1.7.2
email_validator==2.2.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
et_xmlfile==2.0.0
executing==2.2.0
expiringdict==1.2.2
faiss-cpu==1.10.0
Faker==36.1.1
fasttext-wheel==0.9.2
filelock @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/filelock_1701807880662/work
filetype==1.2.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
ftfy==6.3.1
genson==1.3.0
gliner==0.2.16
gliner-spacy==0.0.11
gmpy2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a9jzez1qcu/croot/gmpy2_1738085473561/work
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-appengine-logging==1.6.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.2
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
grpc-google-iam-v1==0.14.0
grpcio==1.71.0rc2
grpcio-status==1.71.0rc2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
humanfriendly==10.0
humansignal-drf-yasg==1.21.10.post1
idna==2.10
ijson==3.3.0
imageio==2.37.0
importlib_metadata==8.5.0
inflect==5.6.2
inflection==0.5.1
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isort==5.13.2
jedi==0.19.2
Jinja2==3.0.0
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jq==1.8.0
jsf==0.11.2
jsonlines==3.1.0
jsonpath-ng==1.7.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
label-studio==1.16.0
label-studio-sdk==1.0.10
langcodes==3.5.0
language_data==1.3.0
latex2mathml==3.77.0
launchdarkly-server-sdk==8.2.1
lazy_loader==0.4
lockfile==0.12.2
lxml==5.3.1
lxml_html_clean==0.4.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
markdown2==2.5.3
marker==2.1.5
marko==2.1.2
MarkupSafe @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_76vhch455b/croot/markupsafe_1738584048225/work
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mkl_fft_1699240945874/work
mkl-random @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mkl_random_1699239515205/work
mkl-service==2.4.0
mpire==2.10.2
mpmath @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mpmath_1699248969763/work
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.17
murmurhash==1.0.12
mypy-extensions==1.0.0
necessary==0.4.3
nest-asyncio==1.6.0
networkx @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ba1do7fwxc/croot/networkx_1737043398715/work
ninja==1.11.1.3
nltk==3.9.1
numpy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b7iptlxgej/croot/numpy_and_numpy_base_1708638622773/work/dist/numpy-1.26.4-cp312-cp312-macosx_10_9_x86_64.whl#sha256=94ff619271f410d5b23b2f118daf4420d22b48b21c941819693d61b19667808d
ollama==0.4.7
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.64.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.30.0
ordered-set==4.0.2
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pdfminer.six==20231228
pdfplumber==0.11.5
pdftext==0.3.20
pexpect==4.9.0
pillow @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_153gp0xp5x/croot/pillow_1738010255299/work
platformdirs==4.3.7
ply==3.11
preshed==3.0.9
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pyboxen==1.3.0
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.0
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
pyRFC3339==2.0.1
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699239289103/work
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.4
python-pptx==1.0.2
pytz==2022.7.1
PyYAML @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_34t43scp15/croot/pyyaml_1728658999838/work
pyzmq==26.3.0
qwen-vl-utils==0.0.10
RapidFuzz==3.12.1
ray==2.42.1
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-mock==1.12.1
requirements-parser==0.11.0
rich==13.9.4
rpds-py==0.23.1
rq==1.16.2
rsa==4.9
rstr==3.2.2
Rtree==1.3.0
ruamel.yaml==0.17.17
rules==3.4
s3fs==2025.2.0
s3transfer==0.11.3
safetensors==0.5.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
semchunk==2.2.2
semver==3.0.4
sentencepiece==0.2.0
sentry-sdk==2.22.0
setuptools==75.8.0
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.4
spacy-curated-transformers==0.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_layout==0.0.11
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
surya-ocr==0.4.5
sympy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_3ej0z2jk7t/croot/sympy_1738108502551/work
tabulate==0.9.0
texify==0.1.10
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.2.18
tldextract==5.1.3
tokenizers==0.19.1
toml==0.10.2
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.42.4
typer==0.12.5
types-setuptools==75.8.2.20250305
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6dn2s8ln8g/croot/typing_extensions_1734714858107/work
tzdata==2025.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
ulid-py==1.1.0
uniseg==0.10.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
wheel==0.40.0
wrapt==1.17.2
XlsxWriter==3.2.2
xmljson==0.2.1
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
